.nav-container{
    display: grid;
    justify-content: end;
}

.nav-container ul{
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.nav-container li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
}

.nav-container li a{
    text-decoration: none;
    color: black;
}